html,body {
    margin: 0;
    padding: 0;
}
#north {
    margin: 0;
    padding: 0;
    background: url("../images/back.png") no-repeat;
}
#north #info {
    margin-top: 70px;
}
#north #info a{
    margin: 0 10px 0 0;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    float: right;
}
#north #info a.member:hover{
    color: #f60;
}
#west {}
#center{}
#south {
    background: beige;
    text-align: center;
}
#south span {
    color: mediumseagreen;
    display: block;
    font-size: 18px;
    margin-top: 25px;
}

input.textbox {
    height: 20px;
    margin: 0;
    padding: 0 2px;
    box-sizing: content-box;
}