<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silence.mapper.BeUsingMapper" >
  <resultMap id="BaseResultMap" type="com.silence.po.BeUsing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="d_id" property="d_id" jdbcType="INTEGER" />
    <result column="u_place" property="u_place" jdbcType="CHAR" />
    <result column="u_state" property="u_state" jdbcType="INTEGER" />
    <result column="u_mark" property="u_mark" jdbcType="CHAR" />
    <result column="is_using" property="is_using" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, d_id, u_place, u_state, u_mark, is_using
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from be_using
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from be_using
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.silence.po.BeUsing" >
    insert into be_using (id, d_id, u_place, 
      u_state, u_mark, is_using)
    values (#{id,jdbcType=INTEGER}, #{d_id,jdbcType=INTEGER}, #{u_place,jdbcType=CHAR}, 
      #{u_state,jdbcType=INTEGER}, #{u_mark,jdbcType=CHAR}, #{is_using,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.silence.po.BeUsing" >
    insert into be_using
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="d_id != null" >
        d_id,
      </if>
      <if test="u_place != null" >
        u_place,
      </if>
      <if test="u_state != null" >
        u_state,
      </if>
      <if test="u_mark != null" >
        u_mark,
      </if>
      <if test="is_using != null" >
        is_using,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="d_id != null" >
        #{d_id,jdbcType=INTEGER},
      </if>
      <if test="u_place != null" >
        #{u_place,jdbcType=CHAR},
      </if>
      <if test="u_state != null" >
        #{u_state,jdbcType=INTEGER},
      </if>
      <if test="u_mark != null" >
        #{u_mark,jdbcType=CHAR},
      </if>
      <if test="is_using != null" >
        #{is_using,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.silence.po.BeUsing" >
    update be_using
    <set >
      <if test="d_id != null" >
        d_id = #{d_id,jdbcType=INTEGER},
      </if>
      <if test="u_place != null" >
        u_place = #{u_place,jdbcType=CHAR},
      </if>
      <if test="u_state != null" >
        u_state = #{u_state,jdbcType=INTEGER},
      </if>
      <if test="u_mark != null" >
        u_mark = #{u_mark,jdbcType=CHAR},
      </if>
      <if test="is_using != null" >
        is_using = #{is_using,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.silence.po.BeUsing" >
    update be_using
    set d_id = #{d_id,jdbcType=INTEGER},
      u_place = #{u_place,jdbcType=CHAR},
      u_state = #{u_state,jdbcType=INTEGER},
      u_mark = #{u_mark,jdbcType=CHAR},
      is_using = #{is_using,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>