<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silence.mapper.extend.BuyDeviceMapperExtend" >
  <resultMap id="BaseResultMap" type="com.silence.po.BuyDevice" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="buyer" property="buyer" jdbcType="VARCHAR" />
    <result column="d_id" property="d_id" jdbcType="INTEGER" />
    <result column="b_money" property="b_money" jdbcType="DOUBLE" />
    <result column="b_time" property="b_time" jdbcType="TIMESTAMP" />
    <result column="b_mark" property="b_mark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, buyer, d_id, b_money, b_time, b_mark
  </sql>

  <select id="selectBuyDeviceList" resultMap="BaseResultMap" parameterType="com.silence.vo.UserQueryVo">
    select
    <include refid="Base_Column_List" />
    from buy_device
    <where>
      <if test="map.buyer != null and map.buyer != ''">
        buyer LIKE '%${map.buyer}%'
      </if>
      <if test="map.d_id != null and map.d_id != ''">
        d_id LIKE '%${map.d_id}%'
      </if>
      <if test="map.low_money != null and map.low_money != ''">
        AND b_money >= #{map.low_money}
      </if>
      <if test="map.high_money != null and map.high_money != ''">
        AND #{map.high_money} >= b_money
      </if>
      <if test="map.b_time_from != null and map.b_time_from != ''">
        AND b_time >= #{map.b_time_from}
      </if>
      <if test="map.b_time_to != null and map.b_time_to != ''">
        AND #{map.b_time_to} >= b_time
      </if>
    </where>
    ORDER BY ${pageable.sort} ${pageable.order}

    limit #{pageable.page,jdbcType=INTEGER},#{pageable.rows,jdbcType=INTEGER}
  </select>

  <select id="selectAllBuyDeviceListSize" resultType="java.lang.Integer" parameterType="com.silence.vo.UserQueryVo">
    select
    COUNT(*)
    from buy_device
    <where>
      <if test="map.buyer != null and map.buyer != ''">
        buyer LIKE '%${map.buyer}%'
      </if>
      <if test="map.d_id != null and map.d_id != ''">
        d_id LIKE '%${map.d_id}%'
      </if>
      <if test="map.low_money != null and map.low_money != ''">
        AND b_money >= #{map.low_money}
      </if>
      <if test="map.high_money != null and map.high_money != ''">
        AND #{map.high_money} >= b_money
      </if>
      <if test="map.b_time_from != null and map.b_time_from != ''">
        AND b_time >= #{map.b_time_from}
      </if>
      <if test="map.b_time_to != null and map.b_time_to != ''">
        AND #{map.b_time_to} >= b_time
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from buy_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from buy_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.silence.po.BuyDevice" >
    insert into buy_device (id, buyer, d_id, 
      b_money, b_time, b_mark
      )
    values (#{id,jdbcType=INTEGER}, #{buyer,jdbcType=VARCHAR}, #{d_id,jdbcType=INTEGER}, 
      #{b_money,jdbcType=DOUBLE}, #{b_time,jdbcType=TIME}, #{b_mark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.silence.po.BuyDevice" >
    insert into buy_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="buyer != null" >
        buyer,
      </if>
      <if test="d_id != null" >
        d_id,
      </if>
      <if test="b_money != null" >
        b_money,
      </if>
      <if test="b_time != null" >
        b_time,
      </if>
      <if test="b_mark != null" >
        b_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buyer != null" >
        #{buyer,jdbcType=VARCHAR},
      </if>
      <if test="d_id != null" >
        #{d_id,jdbcType=INTEGER},
      </if>
      <if test="b_money != null" >
        #{b_money,jdbcType=DOUBLE},
      </if>
      <if test="b_time != null" >
        #{b_time,jdbcType=TIME},
      </if>
      <if test="b_mark != null" >
        #{b_mark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.silence.po.BuyDevice" >
    update buy_device
    <set >
      <if test="buyer != null" >
        buyer = #{buyer,jdbcType=VARCHAR},
      </if>
      <if test="d_id != null" >
        d_id = #{d_id,jdbcType=INTEGER},
      </if>
      <if test="b_money != null" >
        b_money = #{b_money,jdbcType=DOUBLE},
      </if>
      <if test="b_time != null" >
        b_time = #{b_time,jdbcType=TIME},
      </if>
      <if test="b_mark != null" >
        b_mark = #{b_mark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.silence.po.BuyDevice" >
    update buy_device
    set buyer = #{buyer,jdbcType=VARCHAR},
      d_id = #{d_id,jdbcType=INTEGER},
      b_money = #{b_money,jdbcType=DOUBLE},
      b_time = #{b_time,jdbcType=TIME},
      b_mark = #{b_mark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>