<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silence.mapper.DeviceMapper" >
  <resultMap id="BaseResultMap" type="com.silence.po.Device" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="d_name" property="d_name" jdbcType="VARCHAR" />
    <result column="d_desc" property="d_desc" jdbcType="VARCHAR" />
    <result column="d_price" property="d_price" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, d_name, d_desc, d_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from device
    where id = #{id,jdbcType=INTEGER}
  </select>

<!--查询符合条件的所有设备 11.29-->
  <select id="selectDeviceList" resultMap="BaseResultMap" parameterType="com.silence.vo.UserQueryVo">
    select
    <include refid="Base_Column_List" />
    from device
    <where>
      <if test="map.d_name != null and map.d_name != ''">
        d_name LIKE '%${map.d_name}%'
      </if>
      <if test="map.low_price != null and map.low_price != ''">
        AND d_price >= #{map.low_price}
      </if>
      <if test="map.high_price != null and map.high_price != ''">
        AND #{map.high_price} >= d_price
      </if>
    </where>
    ORDER BY ${pageable.sort} ${pageable.order}

    limit #{pageable.page,jdbcType=INTEGER},#{pageable.rows,jdbcType=INTEGER}
  </select>

  <select id="selectAllDeviceListSize" resultType="java.lang.Integer" parameterType="com.silence.vo.UserQueryVo">
    select
    COUNT(*)
    from device
    <where>
    <if test="map.d_name != null and map.d_name != ''">
    d_name LIKE '%${map.d_name}%'
    </if>
    <if test="map.low_price != null and map.low_price != ''">
    AND d_price >= #{map.low_price}
    </if>
    <if test="map.high_price != null and map.high_price != ''">
    AND #{map.high_price} >= d_price
    </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.silence.po.Device" >
    insert into device (id, d_name, d_desc, 
      d_price)
    values (#{id,jdbcType=INTEGER}, #{d_name,jdbcType=VARCHAR}, #{d_desc,jdbcType=VARCHAR}, 
      #{d_price,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.silence.po.Device" >
    insert into device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="d_name != null" >
        d_name,
      </if>
      <if test="d_desc != null" >
        d_desc,
      </if>
      <if test="d_price != null" >
        d_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="d_name != null" >
        #{d_name,jdbcType=VARCHAR},
      </if>
      <if test="d_desc != null" >
        #{d_desc,jdbcType=VARCHAR},
      </if>
      <if test="d_price != null" >
        #{d_price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.silence.po.Device" >
    update device
    <set >
      <if test="d_name != null" >
        d_name = #{d_name,jdbcType=VARCHAR},
      </if>
      <if test="d_desc != null" >
        d_desc = #{d_desc,jdbcType=VARCHAR},
      </if>
      <if test="d_price != null" >
        d_price = #{d_price,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.silence.po.Device" >
    update device
    set d_name = #{d_name,jdbcType=VARCHAR},
      d_desc = #{d_desc,jdbcType=VARCHAR},
      d_price = #{d_price,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>